// Place all the styles related to the admin::umbrellas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




// .container {
//   padding: 0;
//   margin: 0;
//   width: 100%;
// }
// body {
//   padding:0;
// }

//1440版本
nav{
  display: inline-block;
  width: 100%;
  height: 60px;
  margin: 0;
  padding: 0;
  background-color: #D8D8D8;
  p{
    margin: 0;
  }
  ul{
    padding-left: 0;
    display: inline-block;
    margin-bottom: 0;
    width: 100%;
    li {
      list-style: none;
      float: left;
      line-height: 60px;
      width: 60px;
      text-align: center;
      text-decoration: none;
      font-size: 20px;
      color: #9B9B9B;
      a{
        margin-bottom: 0;
        color: #9B9B9B;
        text-decoration: none;
      }
      a:hover{ text-decoration: none; }
      img{
        weight: 54px;
        height: 54px;
      }
    }
    li.right {
      float: right;
      a{ font-size: 14px; }
    }
    li.right.icon{
      a{ font-size: 24px; }
    }
    li.log_in{
      text-align: right;
      text-decoration: none;
    }
    li.password{ width: 120px; text-align: right;}
    li.page_now{
      opacity: 0.76;
      background: #FFFFFF;
      box-shadow: inset 0 1px 3px 0 rgba(0,0,0,0.50);
      a{color: #000000; font-weight: 700;}
    }
  }
}
div{
  li {
    list-style: none;
    float: left;
    display: inline-block;
  }
  li.right { float: right; }
}

.clearfix{ clear: both; }

.row{
  margin: 0;
  overflow: hidden;
  .col-sidebar{
    padding: 0 5px 0 0;
    padding-bottom: 100%;
    margin-bottom: -100%;
    background-color: #EFEFEF;
    .sidebar{
      font-size: 18px;
      color: #EDECED;
      // right: 15px;
      display: inline-block;
      padding: 0;
      // ul{
        li{
          // margin-left: 25px;
          text-align: center;
          padding: 25px auto;
          a{
            text-decoration: none;
            padding: 0;
            td.button_icon{
              font-size: 34px;
              color: #A1A1A1;
              // height: 75px;
              padding: 15px 5px 15px 12px;
              span{ padding: 10px 0; }
            }
            td.button_text{
              font-size: 18px;
              color: #4A4A4A;
              padding: 0 auto;
            }
            td.user_list{
              padding: 15px 0 15px 12px;
            }
            td.button_text.user_list{
              font-size: 16px;
              color: #4A4A4A;
              padding: 0;
            }
          }
          a.hover{ text-decoration: none; }
          img{width: 34px;}
        }
        li.hover{
          opacity: 0.76;
          background: #FFFFFF;
          box-shadow: inset 0 1px 3px 0 rgba(0,0,0,0.50);
          color: #FFFFFF;
        }
      // }
    }
  }
  .col-main{
    padding: 0 20px 0 10px;
    .line-switch{
      display: inline-block;
      li{
        margin: 20px 20px 10px 0;
        display: inline-block;
        background-color: rgba(74,74,74,0.5);
        border-radius: 10px;
        width: 100px;
        height: 40px;
        text-align: center;
        font-size: 18px;

        a{
          line-height: 40px;
          font-size: 18px;
          color: #FFFFFF;
        }
        a:hover{ text-decoration: none; }
      }
    }
    .data-editor{
      display: inline-block;
      padding: 0;
      li{ 
        margin-left: 10px; 
        line-height: 30px;
         p{
            margin: 0;
          }
      }

      li.search_bar{
        #search_box{
          border-radius: 4px;
          border: solid 1px #E4E4E4;
          float: left;
          input[type=text] {
            width: 320px;
            box-sizing: border-box;
            border: 0;
            font-size: 12px;
            background-color: white;
            display: inline-block;
            background-position: 10px 10px; 
            // background-repeat: no-repeat;
            padding: 15px 0 15px 15px;
            -webkit-transition: width 0.4s ease-in-out;
            transition: width 0.4s ease-in-out;
            height: 16px;
            float: left;

          }
          label{
            display: inline-block;
            float: left;
            font-size: 14px;
            padding: 5px 20px 5px 0;
            border: 0;
            // border-left: 1px solid #E4E4E4;
          }
        }
    
      }
    }
    table#umbrellas{
      margin: 10px 0 0 0;
      border: 1px solid black;
      th{
        font-size: 18px;
        line-height: 30px;
        padding: 0;
        text-align: center
      }
      th.remark, td.remark{
        text-align: left;
        padding-left: 8px;
      }
      td{
        // font-size: 18px;
        padding: 0 8px;
        text-align: center;
        line-height: 28px;
      }
    }
  }
}
.station{
  .circle{
    border-radius: 50%;
    border: 1px solid black;
    width: 20px;
    height: 20px;

    p{
      font-size: 10px;
      text-align: center;
      line-height: 20px;
      margin: 0;
    }
  }
}


//Demo
// nav{
//   display: inline-block;
//   width: 100%;
//   height: 60px;
//   margin: 0;
//   padding: 0;
//   background-color: #D8D8D8;
//   p{
//     margin: 0;
//   }
//   ul{
//     padding-left: 0;
//     display: inline-block;
//     margin-bottom: 0;
//     width: 100%;
//     li {
//       list-style: none;
//       float: left;
//       line-height: 60px;
//       width: 80px;
//       text-align: center;
//       text-decoration: none;
//       font-size: 32px;
//       color: #9B9B9B;
//       a{
//         margin-bottom: 0;
//         color: #9B9B9B;
//         text-decoration: none;
//       }
//       a:hover{ text-decoration: none; }
//       img{
//         weight: 54px;
//         height: 54px;
//       }
//     }
//     li.right {
//       float: right;
//       a{ font-size: 22px; }
//     }
//     li.right.icon{
//       a{ font-size: 32px; }
//     }
//     li.log_in{
//       text-align: right;
//       text-decoration: none;
//     }
//     li.password{ width: 120px; text-align: right;}
//     li.page_now{
//       opacity: 0.76;
//       background: #FFFFFF;
//       box-shadow: inset 0 1px 3px 0 rgba(0,0,0,0.50);
//       a{color: #000000; font-weight: 700;}
//     }
//   }
// }
// div{
//   li {
//     list-style: none;
//     float: left;
//     display: inline-block;
//   }
//   li.right { float: right; }
// }

// .clearfix{ clear: both; }

// .row{
//   // width: 100%;
//   margin: 0;
//   overflow: hidden;
//   .col-sidebar{
//     float: left;
//     display: inline-block;
//     width: 11%;
//     padding: 0 5px 0 0;
//     padding-bottom: 100%;
//     margin-bottom: -100%;
//     background-color: #EFEFEF;
//     .sidebar{
//       font-size: 18px;
//       color: #EDECED;
//       // right: 15px;
//       display: inline-block;
//       padding: 0;
//       // ul{
//         li{
//           // margin-left: 25px;
//           text-align: center;
//           padding: 25px auto;
//           a{
//             text-decoration: none;
//             padding: 0;
//             td.button_icon{
//               font-size: 50px;
//               color: #A1A1A1;
//               // height: 75px;
//               padding: 15px 5px 15px 12px;
//               span{ padding: 10px 0; }
//             }
//             td.button_text{
//               font-size: 28px;
//               color: #4A4A4A;
//             }
//             td.user_list{
//               padding: 15px 0 15px 12px;
//             }
//             td.button_text.user_list{
//               font-size: 26px;
//               color: #4A4A4A;
//               padding: 0;
//             }
//           }
//           a.hover{ text-decoration: none; }
//           img{width: 44px;}
//         }
//         li.hover{
//           opacity: 0.76;
//           background: #FFFFFF;
//           box-shadow: inset 0 1px 3px 0 rgba(0,0,0,0.50);
//           color: #FFFFFF;
//         }
//       // }
//     }
//   }
//   .col-main{
//     width: 89%;
//     padding: 0 20px 0 10px;
//     float: left;
//     display: inline-block;
//     .line-switch{
//       display: inline-block;
//       li{
//         margin: 15px 20px 15px 0;
//         display: inline-block;
//         background-color: rgba(74,74,74,0.5);
//         border-radius: 10px;
//         height: 40px;
//         text-align: center;
//         padding: 0 15px;

//         a{
//           line-height: 40px;
//           font-size: 28px;
//           color: #FFFFFF;
//         }
//         a:hover{ text-decoration: none; }
//       }
//     }
//     .data-editor{
//       display: inline-block;
//       padding: 0;
//       li{ 
//         margin-left: 10px; 
//         line-height: 30px;
//          p{
//             margin: 0;
//             font-size: 22px;
//           }
//       }

//       li.search_bar{
//         #search_box{
//           border-radius: 4px;
//           border: solid 1px #E4E4E4;
//           float: left;
//           input[type=text] {
//             width: 320px;
//             box-sizing: border-box;
//             border: 0;
//             font-size: 20px;
//             background-color: white;
//             display: inline-block;
//             background-position: 10px 10px; 
//             // background-repeat: no-repeat;
//             padding: 15px 0 15px 15px;
//             -webkit-transition: width 0.4s ease-in-out;
//             transition: width 0.4s ease-in-out;
//             height: 30px;
//             float: left;
//           }
//           label{
//             display: inline-block;
//             float: left;
//             font-size: 18px;
//             padding: 4px 20px 0 0;
//             border: 0;
//             // border-left: 1px solid #E4E4E4;
//           }
//         }
    
//       }
//     }
//     table#umbrellas{
//       margin: 15px 0 0 0;
//       border: 1px solid black;
//       th{
//         font-size: 28px;
//         line-height: 40px;
//         padding: 0;
//         text-align: center
//       }
//       th.remark, td.remark{
//         text-align: left;
//         padding-left: 8px;
//       }
//       td{
//         font-size: 24px;
//         padding: 0 8px;
//         text-align: center;
//         line-height: 40px;
//       }
//     }
//   }
// }
// .station{
//   .circle{
//     border-radius: 50%;
//     border: 1px solid black;
//     width: 20px;
//     height: 20px;

//     p{
//       font-size: 10px;
//       text-align: center;
//       line-height: 20px;
//       margin: 0;
//     }
//   }
// }

